@using Utils
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cosmos-Odyssey backend v1.2</h1>
    <p>
        Current Date:
        @DateConvertors.GetDateTimeEstoniaNow()
    </p>
    <p>
        <a href="/swagger">Swagger API endpoints documentation</a>
    </p>
</div>