body {
  font-family: 'Open Sans Condensed';
  padding: 20px 80px;
}

* {
  box-sizing: border-box;
}

/* Grow */
.hvr-grow {
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.text-in-hover {
  text-decoration: none !important;
  color: black;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

